.container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.bride-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin: 70px 50px;
}

.banner-container {
    background-color: rgb(238, 233, 226);
}

@media screen and (max-width: 600px) {
    .bride-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}
